
//默认字 #9CDCFE
//内容底色 #1e1e1e
//菜单底色 #3c3f41
//内容边缘 #282829
//
//绿色字 608B4E
//蓝色字 287BDE
//红色字 D16969  警告红 F44747 粉红色 c586c0
//橙色字 CE9178
//黄色字 D7BA7D
//灰色字 808080
//
//@line: #404040;






// a tag
@a: @theme;

@back-active: @theme;
@back-active-font: @white;

@back-hover: @theme;
@back-hover-font: @white;

@border: #dddddd;
@border-active: @theme;
@border-hover: @theme;

@font: #333333;
@font-light: #777777;
@font-active: @theme;
@font-active-back: @white;

@header-a-active: @blue-light;



@shadow: rgba(0, 0, 0, 0.15);
@shadow-active: rgba(0, 198, 226, 0.5);
@shadow-hover: @shadow-active;

@cover-back: rgba(0, 0, 0, 0.15);

@import "theme/color";
@import "theme/unit";

