.font-family() {
  font-family: "Source Code", sans-serif;
}

.toe() {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.wb() {
  word-wrap: break-word;
}

.fN(@start, @end, @interval) when (@start <= @end) {
  .f@{start} {
    font-size: @start * 1px;
  }
  .fN(@start+@interval, @end, @interval);
}

.lhN(@start, @end, @interval) when (@start <= @end) {
  .lh@{start} {
    line-height: @start * 1px;
  }
  .lhN(@start+@interval, @end, @interval);
}

.font-color() {
  &.white {
    color: @white!important;
  }
  &.gray {
    color: @gray-font!important;
  }
  &.green {
    color: @green-font!important;
  }
  &.red {
    color: @red-font!important;
  }
  &.yellow {
    color: @yellow-font!important;
  }
  &.blue {
    color: @blue-font!important;
  }
}
