@import "../../_config/theme";
@import "../../_config/mixins";

@home-header-height: @space*2;
@home-header-a-active: @blue;
@home-nav-width: 10vw;


@import "header";
@import "nav";
@import "body";
@import "component";



