.ui-router {
  display: none;
  .pa-trbl();
  z-index: 100;
  > .wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    .progress {
      .pa-tl();
      width: 10%;
      height: 3px;
      background-image: linear-gradient(to right, @blue 0%, @green 30%, @red 100%);
    }
    .loading {
      position: absolute;
      top: 1px;
      right: 13vw;
      width: 30px;
      height: 30px;
      .icon {
        display: block;
        width: 100%;
        height: 100%;
        border: 4px solid transparent;
        border-top-color: @red;
        border-bottom-color: @red;
        border-radius: 50%;
        animation: rotate360 1s linear infinite;
      }
    }
  }
}