//默认字 #9CDCFE
//内容底色 #1e1e1e
//菜单底色 #3c3f41
//内容边缘 #282829
//
//绿色字 608B4E
//蓝色字 287BDE
//红色字 D16969  警告红 F44747 粉红色 c586c0
//橙色字 CE9178
//黄色字 D7BA7D
//灰色字 808080
//
//@line: #404040;

@white: #ffffff;
@white-dark: #f4f4f4;

@black: #1e1e1e;

@gray: #ccc;
@gray-dark: #aaa;
@gray-light: #e0e0e0;
@gray-back: @white-dark;
@gray-border: #e0e0e0;
@gray-font: #666666;

@red: #d16969;
@red-back: #f2dede;
@red-border: #ebccd1;
@red-font: #DD5555;

@yellow: #d7BA7d;
@yellow-back: #fcf8e3;
@yellow-border: #faebcc;
@yellow-font: #d7BA7d;

@green: #608b4e;
@green-back: #dff0d8;
@green-border: #d6e9c6;
@green-font: @green;

@blue: #6897bb;
@blue-back: #d9edf7;
@blue-border: #bce8f1;
@blue-font: #31708f;

//@theme: #00c1de;
@theme: #468cc1;
@theme-back: #468cc1;
@theme-border: @black;
@theme-font: @white;

// 默认组件的样式

@back: #3c3f41;
@font: #bbbbbb;
@border: #555555;

@font-dark: #9cdcfe;
@back-dark: #1e1e1e;
@border-dark: #272727;

@body-back: #282829;
@body-font: #9cdcfe;

@content-back: @black;
@content-font: @blue;







