@font-face {
  font-family: 'Icon Font';
  src: url('img/iconfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

[class^="i-"], [class*=" i-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'iconfont' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.i-home:before {
  content: "\e900";
}
.i-home-o:before {
  content: "\e901";
}
.i-settings-o:before {
  content: "\e902";
}
.i-settings:before {
  content: "\e99b";
}
.i-gears:before {
  content: "\e994";
}
.i-arrow-down:before {
  content: "\e903";
}
.i-arrow-down2:before {
  content: "\e98a";
}
.i-arrow-up:before {
  content: "\e908";
}
.i-arrow-up-b:before {
  content: "\e98b";
}
.i-arrow-left:before {
  content: "\e906";
}
.i-arrow-left-b:before {
  content: "\e988";
}
.i-arrow-right:before {
  content: "\e907";
}
.i-arrow-right-b:before {
  content: "\e989";
}
.i-arrow-down-left:before {
  content: "\e904";
}
.i-arrow-down-right:before {
  content: "\e905";
}
.i-arrow-up-left:before {
  content: "\e909";
}
.i-arrow-up-right:before {
  content: "\e90a";
}
.i-chevron-up:before {
  content: "\e90b";
}
.i-chevron-up-b:before {
  content: "\e984";
}
.i-chevron-down:before {
  content: "\e90c";
}
.i-chevron-down-b:before {
  content: "\e985";
}
.i-chevron-left:before {
  content: "\e90d";
}
.i-chevron-left-b:before {
  content: "\e986";
}
.i-chevron-right:before {
  content: "\e90e";
}
.i-chevron-right-b:before {
  content: "\e987";
}
.i-caret-down:before {
  content: "\e9a7";
}
.i-caret-up:before {
  content: "\e9a8";
}
.i-caret-left:before {
  content: "\e9a9";
}
.i-caret-right:before {
  content: "\e9aa";
}
.i-caret-sort:before {
  content: "\e9ab";
}
.i-caret-sort-down:before {
  content: "\e9ac";
}
.i-caret-sort-up:before {
  content: "\e9ad";
}
.i-chevrons-down:before {
  content: "\e90f";
}
.i-chevrons-up:before {
  content: "\e912";
}
.i-chevrons-left:before {
  content: "\e910";
}
.i-chevrons-right:before {
  content: "\e911";
}
.i-corner-down-left:before {
  content: "\e913";
}
.i-corner-down-right:before {
  content: "\e914";
}
.i-corner-up-left:before {
  content: "\e915";
}
.i-corner-up-right:before {
  content: "\e916";
}
.i-corner-left-down:before {
  content: "\e917";
}
.i-corner-right-down:before {
  content: "\e918";
}
.i-corner-left-up:before {
  content: "\e919";
}
.i-corner-right-up:before {
  content: "\e91a";
}
.i-undo-b:before {
  content: "\e97f";
}
.i-redo-b:before {
  content: "\e98c";
}
.i-forward:before {
  content: "\e98d";
}
.i-reply:before {
  content: "\e9a0";
}
.i-undo:before {
  content: "\e9b1";
}
.i-redo:before {
  content: "\e9b2";
}
.i-rotate-left:before {
  content: "\e91b";
}
.i-rotate-left-b:before {
  content: "\e991";
}
.i-rotate-right:before {
  content: "\e91c";
}
.i-rotate-right-b:before {
  content: "\e990";
}
.i-rotate-refresh:before {
  content: "\e920";
}
.i-rotate-refresh-b:before {
  content: "\e992";
}
.i-rotate-repeat:before {
  content: "\e91f";
}
.i-move:before {
  content: "\e92e";
}
.i-minimize:before {
  content: "\e91d";
}
.i-maximize:before {
  content: "\e91e";
}
.i-minus:before {
  content: "\e921";
}
.i-minus-b:before {
  content: "\e981";
}
.i-plus:before {
  content: "\e922";
}
.i-plus-b:before {
  content: "\e980";
}
.i-close:before {
  content: "\e923";
}
.i-close-b:before {
  content: "\e983";
}
.i-check:before {
  content: "\e924";
}
.i-check-b:before {
  content: "\e982";
}
.i-circle:before {
  content: "\e926";
}
.i-close-circle:before {
  content: "\e925";
}
.i-check-circle:before {
  content: "\e927";
}
.i-square:before {
  content: "\e929";
}
.i-check-square:before {
  content: "\e928";
}
.i-plus-square:before {
  content: "\e92a";
}
.i-minus-square:before {
  content: "\e92b";
}
.i-minus-circle:before {
  content: "\e92c";
}
.i-plus-circle:before {
  content: "\e92d";
}
.i-zoom-in:before {
  content: "\e96f";
}
.i-zoom-out:before {
  content: "\e970";
}
.i-search:before {
  content: "\e971";
}
.i-upload:before {
  content: "\e931";
}
.i-download:before {
  content: "\e932";
}
.i-log-out:before {
  content: "\e933";
}
.i-log-in:before {
  content: "\e934";
}
.i-download-cloud:before {
  content: "\e935";
}
.i-upload-cloud:before {
  content: "\e936";
}
.i-not:before {
  content: "\e93b";
}
.i-question:before {
  content: "\e993";
}
.i-help-circle:before {
  content: "\e93c";
}
.i-alert-circle:before {
  content: "\e93d";
}
.i-alert-triangle:before {
  content: "\e93e";
}
.i-info:before {
  content: "\e93f";
}
.i-clock:before {
  content: "\e92f";
}
.i-map-pin:before {
  content: "\e940";
}
.i-message-circle:before {
  content: "\e941";
}
.i-message-square:before {
  content: "\e942";
}
.i-more-horizontal:before {
  content: "\e943";
}
.i-more-vertical:before {
  content: "\e944";
}
.i-phone:before {
  content: "\e945";
}
.i-phone-call:before {
  content: "\e946";
}
.i-phone-incoming:before {
  content: "\e947";
}
.i-phone-missed:before {
  content: "\e948";
}
.i-phone-outgoing:before {
  content: "\e94a";
}
.i-play-circle:before {
  content: "\e94b";
}
.i-pause-circle:before {
  content: "\e94c";
}
.i-skip-backward:before {
  content: "\e94d";
}
.i-skip-forward:before {
  content: "\e94e";
}
.i-fast-backward:before {
  content: "\e94f";
}
.i-play:before {
  content: "\e950";
}
.i-pause:before {
  content: "\e951";
}
.i-fast-forward:before {
  content: "\e952";
}
.i-power:before {
  content: "\e953";
}
.i-scissors:before {
  content: "\e954";
}
.i-thumbs-down:before {
  content: "\e957";
}
.i-thumbs-up:before {
  content: "\e958";
}
.i-user:before {
  content: "\e959";
}
.i-user-check:before {
  content: "\e95a";
}
.i-user-minus:before {
  content: "\e95b";
}
.i-user-plus:before {
  content: "\e95c";
}
.i-user-remove:before {
  content: "\e95d";
}
.i-users:before {
  content: "\e95e";
}
.i-eye:before {
  content: "\e963";
}
.i-eye-off:before {
  content: "\e964";
}
.i-camera:before {
  content: "\e965";
}
.i-camera-off:before {
  content: "\e966";
}
.i-video:before {
  content: "\e962";
}
.i-video-off:before {
  content: "\e967";
}
.i-volume-min:before {
  content: "\e968";
}
.i-volume-max:before {
  content: "\e969";
}
.i-volume-x:before {
  content: "\e96a";
}
.i-wifi:before {
  content: "\e96b";
}
.i-wifi-off:before {
  content: "\e96c";
}
.i-mic:before {
  content: "\e96d";
}
.i-mic-off:before {
  content: "\e96e";
}
.i-quote-left:before {
  content: "\e98e";
}
.i-quote-right:before {
  content: "\e98f";
}
.i-envelope-o:before {
  content: "\e996";
}
.i-envelope-open-o:before {
  content: "\e997";
}
.i-heart-o:before {
  content: "\e998";
}
.i-heart:before {
  content: "\e999";
}
.i-star-o:before {
  content: "\e956";
}
.i-star:before {
  content: "\e99a";
}
.i-unlock:before {
  content: "\e9a1";
}
.i-password:before {
  content: "\e9e7";
}
.i-lock:before {
  content: "\e9a2";
}
.i-alarm:before {
  content: "\ea06";
}
.i-bell-o:before {
  content: "\e9a3";
}
.i-bell:before {
  content: "\e9a4";
}
.i-bell-active:before {
  content: "\e972";
}
.i-chain:before {
  content: "\e9a5";
}
.i-chain-broken:before {
  content: "\e9a6";
}
.i-smile-o:before {
  content: "\e9ae";
}
.i-frown-o:before {
  content: "\e9af";
}
.i-meh-o:before {
  content: "\e9b0";
}
.i-eur:before {
  content: "\e9b3";
}
.i-dollar:before {
  content: "\e9b4";
}
.i-cny:before {
  content: "\e9b5";
}
.i-menu:before {
  content: "\e973";
}
.i-bars:before {
  content: "\e9b6";
}
.i-list:before {
  content: "\e9b7";
}
.i-list-grid:before {
  content: "\e9b8";
}
.i-list-grid-o:before {
  content: "\e974";
}
.i-list-grid2:before {
  content: "\e9b9";
}
.i-list-alt:before {
  content: "\e9ba";
}
.i-list-task:before {
  content: "\e9bc";
}
.i-sitemap:before {
  content: "\e9bd";
}
.i-sort-shuffle:before {
  content: "\e975";
}
.i-move-down:before {
  content: "\ea47";
}
.i-move-up:before {
  content: "\ea46";
}
.i-sort-alpha:before {
  content: "\e976";
}
.i-translate:before {
  content: "\e977";
}
.i-thumbs-up-o:before {
  content: "\e9be";
}
.i-thumbs-down-o:before {
  content: "\e9bf";
}
.i-wechat:before {
  content: "\e9c0";
}
.i-qq:before {
  content: "\e9c1";
}
.i-apple:before {
  content: "\e9c2";
}
.i-windows:before {
  content: "\e9c3";
}
.i-android:before {
  content: "\e9c4";
}
.i-linux:before {
  content: "\e9c5";
}
.i-female:before {
  content: "\e9c6";
}
.i-male:before {
  content: "\e9c7";
}
.i-desktop:before {
  content: "\e9c8";
}
.i-laptop:before {
  content: "\e9c9";
}
.i-tablet:before {
  content: "\e9ca";
}
.i-mobile:before {
  content: "\e9cb";
}
.i-edit:before {
  content: "\e938";
}
.i-edit-underline:before {
  content: "\e939";
}
.i-edit-file:before {
  content: "\e937";
}
.i-copy:before {
  content: "\e930";
}
.i-save:before {
  content: "\e93a";
}
.i-trash-o:before {
  content: "\e995";
}
.i-folder-o:before {
  content: "\e9cc";
}
.i-folder-open-o:before {
  content: "\e9cd";
}
.i-inbox:before {
  content: "\e978";
}
.i-clipboard:before {
  content: "\e979";
}
.i-file:before {
  content: "\e97a";
}
.i-file-text-o:before {
  content: "\e9ce";
}
.i-copy-file:before {
  content: "\e9cf";
}
.i-file-pdf-o:before {
  content: "\e9d0";
}
.i-file-word-o:before {
  content: "\e9d1";
}
.i-file-excel-o:before {
  content: "\e9d2";
}
.i-file-powerpoint-o:before {
  content: "\e9d3";
}
.i-file-image-o:before {
  content: "\e9d4";
}
.i-file-archive-o:before {
  content: "\e9d5";
}
.i-file-audio-o:before {
  content: "\e9d6";
}
.i-file-movie-o:before {
  content: "\e9d7";
}
.i-file-code-o:before {
  content: "\e9d8";
}
.i-code:before {
  content: "\e9d9";
}
.i-printer:before {
  content: "\e97b";
}
.i-book:before {
  content: "\e99e";
}
.i-music:before {
  content: "\e95f";
}
.i-image:before {
  content: "\e960";
}
.i-paperclip:before {
  content: "\e961";
}
.i-bookmark:before {
  content: "\e99f";
}
.i-meter:before {
  content: "\e9fd";
}
.i-chart-area:before {
  content: "\e9da";
}
.i-chart-pie:before {
  content: "\e9db";
}
.i-chart-line:before {
  content: "\e9dc";
}
.i-chart-bar:before {
  content: "\e9dd";
}
.i-bicycle:before {
  content: "\e9de";
}
.i-motorcycle:before {
  content: "\e9df";
}
.i-bus:before {
  content: "\e9e0";
}
.i-plane:before {
  content: "\e9e1";
}
.i-rocket:before {
  content: "\e9e2";
}
.i-cart-add:before {
  content: "\e97c";
}
.i-cart-o:before {
  content: "\e955";
}
.i-cart:before {
  content: "\e9e3";
}
.i-cart-plus:before {
  content: "\e9e4";
}
.i-object-group:before {
  content: "\e9e5";
}
.i-object-ungroup:before {
  content: "\e9e6";
}
.i-safari:before {
  content: "\e9e8";
}
.i-chrome:before {
  content: "\e9e9";
}
.i-firefox:before {
  content: "\e9ea";
}
.i-opera:before {
  content: "\e9eb";
}
.i-ie:before {
  content: "\e9ec";
}
.i-email:before {
  content: "\ea07";
}
.i-calendar-o:before {
  content: "\e9ed";
}
.i-calendar:before {
  content: "\e9ee";
}
.i-calendar-plus-o:before {
  content: "\e9ef";
}
.i-calendar-minus-o:before {
  content: "\e9f0";
}
.i-calendar-close-o:before {
  content: "\e9f1";
}
.i-calendar-check-o:before {
  content: "\e9f2";
}
.i-address-book-o:before {
  content: "\e9f3";
}
.i-address-card-o:before {
  content: "\e9f4";
}
.i-user-o:before {
  content: "\e9f6";
}
.i-user-circle-o:before {
  content: "\e9f5";
}
.i-users-group:before {
  content: "\e9f7";
}
.i-recycle:before {
  content: "\e9f8";
}
.i-copyright:before {
  content: "\e9f9";
}
.i-at:before {
  content: "\e9fa";
}
.i-barcode:before {
  content: "\e99d";
}
.i-qrcode:before {
  content: "\e99c";
}
.i-cloud:before {
  content: "\e9fb";
}
.i-soundcloud:before {
  content: "\e9fc";
}
.i-umbrella:before {
  content: "\e9fe";
}
.i-project-server:before {
  content: "\e9bb";
}
.i-database:before {
  content: "\e9ff";
}
.i-cube:before {
  content: "\ea00";
}
.i-cubes:before {
  content: "\ea01";
}
.i-sliders:before {
  content: "\ea02";
}
.i-share:before {
  content: "\ea03";
}
.i-link-h:before {
  content: "\ea08";
}
.i-link-v:before {
  content: "\ea09";
}
.i-link-atom:before {
  content: "\ea0a";
}
.i-net:before {
  content: "\e97d";
}
.i-net-user:before {
  content: "\ea10";
}
.i-security-lock:before {
  content: "\ea14";
}
.i-project-link5:before {
  content: "\ea17";
}
.i-video-sign:before {
  content: "\ea19";
}
.i-link-chart:before {
  content: "\ea1a";
}
.i-sign-line:before {
  content: "\ea1c";
}
.i-chart-cloud:before {
  content: "\ea1f";
}
.i-pipe-electron:before {
  content: "\ea20";
}
.i-project-pull:before {
  content: "\ea26";
}
.i-project-push:before {
  content: "\ea27";
}
.i-project-transform:before {
  content: "\ea28";
}
