.ui-article-header {
  .h2();
  margin-left: @space;
  margin-right: @space;
  margin-top: @space-half;
  margin-bottom: @space-half;
  border-bottom: @space-half solid @border;
  padding-top: @space-half;
  padding-bottom: @space-half;
  color: @yellow-font;
}

.ui-article-main {
  margin-left: @space;
  margin-right: @space;
  font-size: @size13;
  line-height: @line-height;

}

.ui-article-block {
  padding: @space;
  border-radius: @space-half;
  margin-bottom: @space;
  background-color: @content-back;
  color: @content-font;
  > .header {
    .f18();
    color: @font;
    margin-bottom: @space;
  }
  .list {
    padding-left: @space;

  }
  p {
    padding-bottom: @space;
  }

}