.ui-article-title {
  .h2();
  padding-top: @space-half;
  padding-bottom: @space-half;
  margin-left: @space;
  margin-right: @space;
  margin-bottom: @space;
  border-bottom: 1px solid @border;
  color: @yellow-font;
}

.ui-article-content {
  margin-left: @space;
  margin-right: @space;
  margin-bottom: @space;
  font-size: @size14;
  line-height: @size14*1.8;
  p {
    padding-bottom: @space;
    &:last-child {
      padding-bottom: 0;
    }
  }
}

.ui-article-block {
  margin-bottom: 32px;
  .header {
    .f18();
    color: @font;
    margin-bottom: @space;
    padding-top: 16px;
  }
  > .content {
    padding: @space-x2;
    margin-bottom: @space;
    border-radius: @space-half;
    background-color: @content-back;
    color: @content-font;
  }
  > .ul {
    padding: @space-x2;
    margin-bottom: @space;
    border-radius: @space-half;
    background-color: @content-back;
    color: @content-font;
    list-style: inside;
  }
  .font-color();
  &.inside {
    > .ul {
      padding: 0;
      border-radius: 0;
      background: none;
      color: inherit;
    }
  }
}

.ui-article-list {
  padding: @space;
  margin-bottom: @space;
  border-radius: @space-half;
  background-color: @content-back;
  color: @content-font;
  .header {
    .f14();
    color: @font;
    margin-bottom: @space;
  }
  > .ul {
    padding-left: @space-half;
    list-style: inside;
  }
}

.ui-article-search {
  height: 100%;
  > .header {
    text-align: right;
    height: @space-x2;
    .input {
      border: none;
      background: none;
      outline: none;
      border-bottom: 1px solid @border;
      line-height: @line-height;
      color: @theme-font;
    }
  }
  > .content {
    position: relative;
    height: ~'calc(100% - @{space-x2})';
    padding: @space-x2;
    margin-bottom: @space;
    background-color: @content-back;
    color: @content-font;

  }
}