@ui-a-color: @blue;

.i,
.a,
.img,
.input,
.label,
.span {
  vertical-align: middle;
  display: inline-block;
}

.a {
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  color: @ui-a-color;
}

.code, .pre {
  font-family: "Source Code";
  font-size: @size12;
  line-height: @line-height;
}

.font {
  cursor: inherit;
  &.theme {
    color: @theme-font;
  }
  &.gray {
    color: @gray-font;
  }
  &.green {
    color: @green-font;
  }
  &.red {
    color: @red-font;
  }
  &.yellow {
    color: @yellow-font;
  }
  &.blue {
    color: @blue-font;
  }
}

.h1 {
  font-size: 24px;
}

.h2 {
  font-size: 22px;
}

.h3 {
  font-size: 20px;
}

.h4 {
  font-size: 18px;
}

.h5 {
  font-size: 16px;
}

.h6 {
  font-size: 14px;
}


.img {
  border: none;
}

.label {
  .font();
}

.table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  table-layout: fixed;
}

.ul {
  list-style: none;
}

