@import "../../_config/theme";
@import "../../_config/mixins";

.framework-mindmap-c {
  .iframe {
    margin-top: 32px;
    margin-bottom: 32px;
    border: none;
    width: 100%;
    height: 70vh;
  }
}

.framework-plan-c {
  .row-one {
    height: ~'calc(100vh - 175px)';
    .col-half {
      height: 100%;
      overflow: auto;
    }
  }
}

